env/Lib/site-packages/
!env/Lib/site-packages/__pycache__
!env/Lib/site-packages/pip
!env/Lib/site-packages/pip_package
!env/Lib/site-packages/pip-19.2.3.dist-info
!env/Lib/site-packages/pkg_resources
!env/Lib/site-packages/setuptools
!env/Lib/site-packages/setuptools-41.2.0.dist-info
!env/Lib/site-packages/easy_install.py




